.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* Custom styles */

.navbar-brand img {
    width: 100px;
}

#root .container-fluid {
    padding: 0px;
}

.view {
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/91.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.gradient {
    background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%));
    background: linear-gradient(to 45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
}

.card {
    background-color: rgba(126, 123, 215, 0.2);
}

h6 {
    line-height: 1.7;
}

.navbar {
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background: #424f95 !important;
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #424f95 !important;
    }
}

label {
    color: #fff!important;
}

.logo {
    width: 150px;
    height: 150px;
    background-image: url("../../assets/images/logo.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.card-body.text-info {
    background-color: #fff;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link,
.card-header {
    background-color: #33b5e5;
    color: #fff;
}

.nav-pills .nav-link {
    color: #33b5e5;
}

.header-wrapper a.nav-link {
    color: #fff;
}

button.navbar-toggler {
    color: #fff;
}

.navbar-wrapper .navbar {
    background: #1e698d !important;
}

.navbar-wrapper {
    height: 66px;
}

.react-datepicker-wrapper input {
    margin-left: 2.5rem !important;
    width: calc(100% - 2.5rem);
}

@media (max-width: 768px) {
    .header-wrapper .navbar:not(.top-nav-collapse) {
        background: #1e698d !important;
    }
}