.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* Custom styles */

.navbar-brand img {
    width: 100px;
}

#root .container-fluid {
    padding: 0px;
}

h6 {
    line-height: 1.7;
}

.navbar {
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background: #424f95 !important;
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #424f95 !important;
    }
}

label {
    color: #fff!important;
}

.logo {
    width: 150px;
    height: 150px;
    background-image: url("../../assets/images/logo.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.card-body.text-info {
    background-color: rgba(255, 255, 255, 0.7);
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link,
.card-header {
    background-color: #33b5e5;
    color: #fff;
}

.nav-pills .nav-link {
    color: #33b5e5;
}

.header-wrapper a.nav-link {
    color: #fff;
}

button.navbar-toggler {
    color: #fff;
}

.navbar-wrapper {
    height: 66px;
}

.navbar-wrapper #ct_navbar {
    background: #1e698d !important;
}

.react-datepicker-wrapper input {
    margin-left: 2.5rem !important;
    width: calc(100% - 2.5rem);
}

#root {
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.md-form>label {
    color: #333 !important;
}

@media (max-width: 768px) {
    .header-wrapper .navbar:not(.top-nav-collapse) {
        background: #1e698d !important;
    }
    #ct_navbar {
        padding: 10px 0;
    }
    #ct_navbar .navbar-brand {
        padding: 0;
    }
    .navbar-brand img {
        width: 80px;
    }
    label#nav-icon1 {
        width: 20px;
        margin: 5px 15px 0;
        float: left;
    }
    label#nav-icon1>span {
        background-color: #fff !important;
    }
    .navbar-wrapper {
        height: 60px;
    }
    .navbar-wrapper #nav-icon1 span:nth-child(1) {
        top: 10px;
    }
    .navbar-wrapper #nav-icon1 span:nth-child(2) {
        top: 18px;
    }
    .navbar-wrapper #nav-icon1 span:nth-child(3) {
        top: 26px;
    }
}