.profile-form .form-group label {
    color: #333 !important;
}

.profile-form .form-group>label {
    color: #1e698d !important;
    font-weight: bold;
}

.datepicker .md-form {
    margin: 0;
}

@media (max-width: 768px) {
    .profile-form-wrapper {
        margin: 0;
    }
    .content-wrapper .container {
        padding: 0;
    }
}